@import "tailwindcss";


:root {
    --text: #ffeeee;
    --background: #111e24;
    --primary: #573194;
    --secondary: #003f52;

    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: var(--text);
    background-color: var(--background);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    font-weight: 500;
    text-decoration: inherit;
}

a:hover {
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
    @apply mb-4;
}


#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

button,
.btn {
    background-color: var(--primary);
    @apply py-2 px-4 rounded transition-colors duration-200 hover:bg-gray-700 inline-block font-bold;
}

.btn-secondary {
    background-color: var(--secondary);
}

select,
input {
    background-color: var(--secondary);
    @apply rounded py-2 px-4;
}

.btn-action {
    @apply bg-blue-600 hover:bg-blue-500;
}

